<div class="chat-header">
  <div class="header-title">
    チャットルームの名前(仮)
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        ユーザー名1(仮)
      </div>
      <div class="message-date">
        2020/10/10(Sat) 13:20:43
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        ここに内容が表示されます1(仮)
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        ユーザー名2(仮)
      </div>
      <div class="message-date">
        2020/10/10(Sat) 13:21:04
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        ここに内容が表示されます2(仮)
      </div>
    </div>
  </div>
</div>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>