<div class="chat-header">
  <div class="header-title">
    チャットルームの名前(仮)
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        ユーザー名1(仮)
      </div>
      <div class="message-date">
        2020/10/10(Sat) 13:20:43
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        ここに内容が表示されます1(仮)
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        ユーザー名2(仮)
      </div>
      <div class="message-date">
        2020/10/10(Sat) 13:21:04
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        ここに内容が表示されます2(仮)
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>